.below-nav {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding-bottom: 40px;
}
.profile-head {
  padding-top: 20px;
}
.form {
  padding: 0 15%;
  margin: auto;
  max-width: 1200px;
}
.edit {
  display: flex;
  margin-top: 5px;
  justify-content: space-around;
}
.form-head {
  width: 100%;
}
.form-head h3 {
  text-align: left;
  margin: 0;
}
.btn-disable {
  height: 41.6px;
}
.group {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .email {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.1rem;
  }
  .group {
    width: 100%;
  }
  .form {
    padding: 0 10%;
  }
  .below-nav {
    padding-top: 95px;
  }
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: block;
  cursor: pointer;
  width: 200px;
  border-radius: 20px;
  border: 2px solid #edb17b;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-out;
  margin-bottom: 10px;
}

.wrap {
  padding: 50px;
}
