/*scroll-bar*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #002a4c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a5678;
}
/* @media screen and (max-width: 800px){
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #002a4c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a5678;
}
} */

.below-nav {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding-bottom: 40px;
}
.profile-head {
  padding-top: 20px;
}
.form {
  padding: 0 15%;
  margin: auto;
  max-width: 1200px;
}
.edit {
  display: flex;
  margin-top: 5px;
  justify-content: space-around;
}
.form-head {
  width: 100%;
}
.form-head h3 {
  text-align: left;
  margin: 0;
}
.btn-disable {
  height: 41.6px;
}
.group {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .email {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.1rem;
  }
  .group {
    width: 100%;
  }
  .form {
    padding: 0 10%;
  }
  .below-nav {
    padding-top: 95px;
  }
}

input[type="file"] {
  display: none;
}

.wrap {
  padding: 50px 0;
}

.flex-input {
  display: flex;
  flex-wrap: wrap;
  max-width: 540px;
  width: fit-content;
  margin: auto;
  border: 1px solid #edb17b;
  border-radius: 5px;
  overflow: hidden;
}

.flex-input .btn {
  width: auto;
  display: block;
  background-color: #edb17b;
  padding: 10px 15px;
  cursor: pointer;
}
.flex-input .btn label {
  cursor: pointer;
}
.flex-input .btn:hover {
  background-color: #ff9e4a;
}

.flex-input .file-name {
  width: auto;
  display: flex;
  padding: 10px 30px;
}

@media (max-width: 576px) {
  .flex-input .btn,
  .flex-input .file-name {
    width: 100%;
    justify-content: center;
  }
}
