.MuiDataGrid-cell:focus {
  outline: none !important;
}

.register {
  font-weight: 700;
  margin: auto;
}

.register:hover {
  color: green;
}

.table {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
}
.slots-btn {
  padding: 8px 12px;
}

.MuiDataGrid-root .MuiDataGrid-menuIcon {
  visibility: visible !important;
}

.download-btn a {
  color: white !important;
}

.download-btn:hover {
  background-color: #FEED !important;
}

.download-btn:hover a {
  color: #edb17b !important;
}